@charset "UTF-8";

body {
    background-color: #CCDDE3;
    margin: 0 auto 0 auto;
}

header {
    width: 800px;
    height: 250px;
    border: 1px black solid;
    margin: 25px auto 0 auto;
    
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 2px;
}

section {
    width: 800px;
    height: auto;
    margin: 0 auto 0 auto;
    padding-top:20px;
}

article {
    float: left;
    margin-right: 20px;   
}
#olist {
    margin-left:10px;
}
h1{
   font-family: 'Archivo Narrow', sans-serif; 
    letter-spacing: .85px;
    position: fixed;
    right: 220px;
    top: 355px;
    font-size: 1.5em;
    font-family: 'karla', sans-serif;
    color: #312545; 
    text-transform: uppercase;
    border-bottom: solid 1px #312545;
}
h2 {
    margin-left: 20px; 
    font-family: 'Archivo Narrow', sans-serif;    
    text-transform: uppercase;
    letter-spacing: 1px;
}
h4 {
    visibility: hidden;
}

li {
    font-family: 'Karla', sans-serif;
    line-height: 2em;
}

footer {
    width: 100%;
    height: auto;
    position: fixed;
    left: 20px;
    bottom: 20px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    color: #5b6576;
}

div#validate {
    float: left;
}

div#emailRight {
    float: right;
    position: relative;
    right: 50px;
    font-size: 1.3em;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: #fc1561;
}
a:active {}


footer a:link {
    color: #f0f79e;
}
footer a:visited {
    color: #f0f79e;
}
footer a:hover {
    letter-spacing: 2px;
}
#talk {
    float: right;
    
}
div a {
    font-family: 'Archivo Narrow', sans-serif; 
    letter-spacing: .65px;
    font-size: 1em;
    font-family: 'karla', sans-serif;
    color: #fc1561; 
    text-transform: uppercase;
}